@font-face {
  font-family: 'HanaleiFill-Regular';
  src: url('fonts/Hanalei_Fill/HanaleiFill-Regular.ttf');
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
/* 2. Remove default margin */
* {
  margin: 0;
}
body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}
/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}
/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}
/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

.attribution {
  margin-left: 100px;
  color: white;
}

.credit {
  color: white;
  text-decoration: underline;
}

.sidebar-image-container {
  display: flex;
  background-image: url('images/eugene-golovesov-to_nuHhOFNs-unsplash.jpg');
  background-size: 530px 100vh;
  width: 530px;
  height: 100vh;
  justify-content: space-between;
  flex-direction: column;
}

.sidebar-logo-container {
  font-family: 'HanaleiFill-Regular';
  font-size: 55px;
  color: white;
  margin-top: 250px;
  display: flex;
  flex-direction: row;
  background-color: rgb(65, 60, 60, 0.7);
  height: 140px;
  width: 530px;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.logo {
  display: inline-block;
  height: 120px;
  width: 100.1px;
  padding-right: 20px;
}
#emphasis {
  display: inline;
}
.main-content-container {
  display: flex;
  flex-direction: column;

  padding-top: 120px;
  background-color: rgb(226, 226, 225);
}

.nonsense-blurb {
  font-family: Helvetica, Verdana, sans-serif;
  font-weight: 500;
  font-size: large;
  padding-left: 270px;
  padding-bottom: 80px;
}

.container {
  display: flex;
}

.sub-content-container {
  display: flex;
  background-color: lightgray;
}

label,
input {
  display: flex;
  flex-direction: column;
}

.inputs > label {
  text-align: left;
  width: 40%;
  display: inline-block;
}

.form-heading {
  padding-bottom: 15px;
  font-weight: 200;
  font-size: larger;
  font-family: Helvetica, Verdana, sans-serif;
}

.inputs {
  font-family: Verdana (sans-serif);
  font-weight: 500;
  background-color: rgb(248, 245, 245);
  padding-left: 270px;
  padding-top: 25px;
  padding-bottom: 55px;
}

.create-button {
  background-color: rgb(72, 162, 235);
  color: white;
  border-radius: 10px;
  padding: 10px 30px 10px 30px;
  margin-bottom: 40px;
  font-weight: bold;
  font-size: 18px;
}

.sub-content-container {
  display: flex;
  flex-direction: column;
  background-color: rgb(226, 226, 225);
  margin-left: 270px;
  margin-top: 30px;
  font-family: Helvetica;
}

#password:invalid {
  border-color: red;
}

input:focus {
  outline: 1px solid rgb(75, 75, 241);
}

.login-link {
  text-decoration: none;
}
